---
import CanvasWrapper from "@/components/ui/CanvasWrapper";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <CanvasWrapper client:only="react" className="h-96 w-full bg-neutral-200" />
  </main>
</Layout>
